* {
    font-family: Georgia, "Times New Roman", sans-serif;
}


.button {
    color: rgb(0, 0, 0);
    height: 50px;
    width: 500px;
    background-color: rgb(185, 220, 253);
    font-size: 20px;
    text-align: center;
}

.buttongroup {
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    width:500px;
    margin-left:85px
}

#head1{
    text-align: center;
    text-decoration-line: underline;
    display:block;
    margin:100px;
}

#head2 {
    margin-bottom:1px;
}

#list1 {
    list-style-position: inside;
    text-align:center;
    list-style-type: none;
}

.textcenter {
    text-align: center;
}

.subhead {
    margin-bottom: 30px;
    font-weight:150px;
}

#picturealign {
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px; 
    margin-top:5px;
    margin-bottom:5px;
    border-radius:70px;
}

#chili {
    background-color: rgb(95, 53, 40);
}

#tuna {
    background-color: rgb(231, 124, 124);
}

#eggs {
    background-color: rgb(255, 241, 159);
}